[Unit]
Description=Motor Diagnosis Data

[Service]
Type=simple
ExecStart=/bin/bash -c 'python /home/raspberry/daqhats/examples/python/mcc172/scan_with_diagnosis_mqtt.py'
WorkingDirectory=/home/raspberry/daqhats
Restart=on-failure
RestartSec=30s

User=raspberry

[Install]
WantedBy=multi-user.target
